# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = Andreas Wurzer
  email = andeee@andeee.at
[push]
	default = simple
[core]
	editor = /usr/bin/vim
	autocrlf = input
[pull]
	rebase = true
	ff = only
